<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Đọc truyện online, đọc truyện hay</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description"
        content="Đọc truyện online, đọc truyện chữ, truyện hay, truyện full. Truyện Full luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất.">
    <meta name="keywords" content="doc truyen, doc truyen online, truyen hay, truyen chu">
    <meta name="theme-color" content="#4285f4">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--[if lt IE 9]><script src="https://cdnaz.truyenfull.vn/lib/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="https://cdnaz.truyenfull.vn/lib/css3-mediaqueries.min.js"></script><![endif]-->
    <link rel="canonical" href="https://truyenfull.vn/">
    <link rel="preconnect" href="https://cdnaz.truyenfull.vn/">
    {{!-- <link rel="preconnect" href="https://www.google-analytics.com/"> --}}
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff"
        href="https://cdnaz.truyenfull.vn/font/Roboto-Regular.woff">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff"
        href="https://cdnaz.truyenfull.vn/font/RobotoCondensed-Regular.woff">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2"
        href="https://cdnaz.truyenfull.vn/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2">
    {{!-- <link rel="preload" as="script" href="{{hostname}}/js/analytics.js"> --}}
    <script type="text/javascript" src="{{hostname}}/js/constant.js"></script>
    <script type="text/javascript" src="{{hostname}}/js/timeOutput.js"></script>
    <link rel="preload" as="image" type="image/gif" href="https://cdnaz.truyenfull.vn/img/pixel-cover.gif">
    <link rel="preload" as="image" type="image/png" href="https://cdnaz.truyenfull.vn/img/full-label.png">
    <link rel="search" type="application/opensearchdescription+xml"
        href="https://cdnaz.truyenfull.vn/xml/opensearch.xml" title="Search">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdnaz.truyenfull.vn/favicon.ico">
    <link rel="icon" type="image/png" href="https://cdnaz.truyenfull.vn/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://cdnaz.truyenfull.vn/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="https://cdnaz.truyenfull.vn/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://cdnaz.truyenfull.vn/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://cdnaz.truyenfull.vn/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="57x57" href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://cdnaz.truyenfull.vn/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" type="text/css" href="{{hostname}}/css/styles.css">
    <link rel="stylesheet" type="text/css" href="{{hostname}}/css/maincss-2806-2.css" />
    <script>

        function loadTruyen() {
            var pathArray = window.location.pathname.split('/');
            if (pathArray[1] == "the-loai") {
                layThongTinTheLoaiTruyen(pathArray[2]);
            }
            else {
                layTruyenMoiCapNhat();
                layTruyenFullMoiNhat();
                layTruyenHotAll();
            }
        }

        function layThongTinTheLoaiTruyen(theLoai) {
            var url = "/apiThongTinTheLoai/" + theLoai;
            layData(url, "thongTinTheLoai");
        }

        function layTruyenHotTheoTheLoai() {
            var hotTruyen = document.getElementById("hot-select").value;
            var url = "/apiHot/" + hotTruyen;
            layData(url, "hot");
        }
        function layTruyenMoiCapNhat() {
            var newTruyen = document.getElementById("new-select").value;
            var url = "/apiNew/" + newTruyen;
            layData(url, "new");
        }

        function layTruyenHotAll() {
            var url = "/apiHot/all";
            layData(url, "hot");
        }

        function layTruyenFullMoiNhat() {
            var url = "/apiFull/all";
            layData(url, "full");
        }

        function layData(url, loai) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var myArr = JSON.parse(this.responseText);
                    if (loai == "hot")
                        functionLayHotTheoTheLoai(myArr);
                    if (loai == "new")
                        functionLayNewTheoTheLoai(myArr);
                    if (loai == "full")
                        functionLayFullMoiNhat(myArr);
                    if (loai == "thongTinTheLoai") {
                        functionLayThongTinTheLoai(myArr);
                    }


                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }


        function functionLayHotTheoTheLoai(arr) {
            var out = "";
            var i;
            for (i = 0; i < arr.length; i++) {
                var t = i + 1;
                out += "<div class='item top-" + t + "'>";
                out += "<a href='" + arr[i].url_truyen + "' itemprop='url'>";
                if (arr[i].trang_thai == "Full") {
                    out += "<span class='full-label'></span>";
                }
                out += "<img";
                out += " src='" + arr[i].url_hinh + "'" + "alt='" + arr[i].ten_truyen + "' class=" + "'img-responsive item-img'" + "itemprop='image'>";
                out += "<div class='title'>";
                out += "<h3 itemprop='" + arr[i].ten_truyen + "'>" + arr[i].ten_truyen + "</h3>";
                out += "</div>";
                out += "</a></div>";
            }
            document.getElementById("i-intro").innerHTML = out;
        }

        function functionLayNewTheoTheLoai(arr) {
            const firstElementChild = document.getElementById("parent-t-list").firstElementChild;
            document.getElementById("parent-t-list").innerHTML = '';
            document.getElementById("parent-t-list").append(firstElementChild);
            var out = ""
            var i;
            for (i = 0; i < arr.length; i++) {
                out += "<div class='row'>";
                out += "<div class='col-xs-9 col-sm-6 col-md-5 col-title'><span class='glyphicon glyphicon-chevron-right'></span>";
                out += "<h3 itemprop='name'><a href='" + arr[i].url_truyen + "' title='" + arr[i].ten_truyen + "' itemprop='url'>";
                out += arr[i].ten_truyen + "</a></h3><span class='label-title label-new'></span>";
                if (arr[i].danh_gia == 1) {
                    out += "<span class='label-title label-hot'></span>";
                }
                out += "</div>"
                out += "<div class='hidden-xs col-sm-3 col-md-3 col-cat'><a itemprop='genre' href='https://truyenfull.vn/the-loai/ngon-tinh/' title='" + getTenTruyen(arr[i].the_loai) + "'>" + getTenTruyen(arr[i].the_loai) + "</a></div>";
                out += "<div class='col-xs-3 col-sm-3 col-md-2 col-chap text-info'><a href='" + arr[i].url_truyen + "' title='" + arr[i].ten_truyen + "'><span class='chapter-text'><span>Chương " + arr[i].so_chuong + "</span></a></div>";
                out += "<div class='hidden-xs hidden-sm col-md-2 col-time'> " + getTimeOut(arr[i].update_time) + " </div>";
                out += "</div>";
            }
            document.getElementById("t-list").insertAdjacentHTML('afterend', out);

        }

        function functionLayFullMoiNhat(arr) {
            var out = "";
            var i;
            for (i = 0; i < arr.length; i++) {
                out += "<div class='col-xs-4 col-sm-3 col-md-2'><a";
                out += " href='" + arr[i].url_truyen + "'";
                out += "title='" + arr[i].ten_truyen + "'><img";
                out += " src='" + arr[i].url_hinh + "'";
                out += " alt='" + arr[i].ten_truyen + "'>";
                out += "<div class='caption'>"
                out += "<h3>" + arr[i].ten_truyen + "</h3><small class='btn-xs label-primary'>Full - " + arr[i].so_chuong + "";
                out += " chương</small>";
                out += "</div>";
                out += "</a></div>";
            }
            document.getElementById("f-list").innerHTML = out;
        }

        function functionLayThongTinTheLoai(arr) {
            document.getElementById("t-truyen").innerHTML = "TRUYỆN " + arr[0].ten_the_loai;
            document.getElementsByClassName("panel-body")[0].innerHTML = arr[0].mo_ta;
        }
    </script>
</head>

<body id="body_home" onload="loadTruyen()">
    {{{body}}}
</body>

</html>