<div id="wrap">
    {{> header }}
    <div class="container" id="list-page">
        <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
            <div class="text-center"></div>
            <div class="list list-truyen col-xs-12">
                <div class="title-list">
                    <h2>Truyện Kiếm Hiệp</h2>
                    <div class="filter"><a href="https://truyenfull.vn/the-loai/kiem-hiep/hoan/">Kiếm Hiệp hoàn
                            (full)</a>
                    </div>
                </div>
                 {{#each list}}
                        <div class="row" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-3">
                        <div><img
                                src="{{ this.url_hinh }}"
                                class="cover" alt="{{ this.ten_truyen }}"></div>
                    </div>
                    <div class="col-xs-7">
                        <div><span class="glyphicon glyphicon-book"></span>
                            <h3 class="truyen-title" itemprop="name"><a href="https://truyenfull.vn/that-nguyet/"
                                    title="{{ this.ten_truyen }}" itemprop="url">{{this.ten_truyen}}</a></h3>
                        {{#if this.trang_thai "eq" "Full" }}
                        <span class="label-full"></span>
                        {{/if}}
                        {{#if this.danh_gia "eq" "1" }}
                        <span class="label-hot"></span>
                        {{/if}}
                                <span class="author" itemprop="author">
                                        <span
                                    class="glyphicon glyphicon-pencil"></span>{{this.tac_gia}}</span>
                        </div>
                    </div>
                    <div class="col-xs-2 text-info">
                        <div><a href="{{this.url_truyen}}"
                                title="{{this.so_chuong}}">
                                <span class="chapter-text"><span>Chương </span></span>{{this.so_chuong}}</a></div>
                    </div>
                </div>
                    {{/each}}
            </div>
        </div>
        <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
            <div class="panel cat-desc text-left">
                <div class="panel-body">Truyện thường xoay quanh cuộc đời của nhân vật chính, quá trình rèn luyện,
                    trưởng
                    thành, tìm kiếm, học tập các bí kíp võ công, cùng những cuộc phiêu lưu, truy đuổi, chém giết... đầy
                    nguy
                    hiểm và cơ hội trong giới võ lâm giang hồ.</div>
            </div>
            <div class="list list-truyen list-cat col-xs-12">
                <div class="title-list">
                    <h4>Thể loại truyện</h4>
                </div>
                <div class="row">
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/tien-hiep/"
                            title="Truyện Tiên Hiệp">Tiên
                            Hiệp</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/kiem-hiep/"
                            title="Truyện Kiếm Hiệp">Kiếm
                            Hiệp</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/ngon-tinh/"
                            title="Truyện Ngôn Tình">Ngôn
                            Tình</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/do-thi/" title="Truyện Đô Thị">Đô
                            Thị</a>
                    </div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/quan-truong/"
                            title="Truyện Quan Trường">Quan Trường</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/vong-du/" title="Truyện Võng Du">Võng
                            Du</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/khoa-huyen/"
                            title="Truyện Khoa Huyễn">Khoa Huyễn</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/huyen-huyen/"
                            title="Truyện Huyền Huyễn">Huyền Huyễn</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/di-gioi/" title="Truyện Dị Giới">Dị
                            Giới</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/di-nang/" title="Truyện Dị Năng">Dị
                            Năng</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/quan-su/" title="Truyện Quân Sự">Quân
                            Sự</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/lich-su/" title="Truyện Lịch Sử">Lịch
                            Sử</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/xuyen-khong/"
                            title="Truyện Xuyên Không">Xuyên Không</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/trong-sinh/"
                            title="Truyện Trọng Sinh">Trọng Sinh</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/trinh-tham/"
                            title="Truyện Trinh Thám">Trinh Thám</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/tham-hiem/"
                            title="Truyện Thám Hiểm">Thám
                            Hiểm</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/linh-di/" title="Truyện Linh Dị">Linh
                            Dị</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/sac/" title="Truyện Sắc">Sắc</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nguoc/" title="Truyện Ngược">Ngược</a>
                    </div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/sung/" title="Truyện Sủng">Sủng</a>
                    </div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/cung-dau/"
                            title="Truyện Cung Đấu">Cung
                            Đấu</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nu-cuong/" title="Truyện Nữ Cường">Nữ
                            Cường</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/gia-dau/" title="Truyện Gia Đấu">Gia
                            Đấu</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dong-phuong/"
                            title="Truyện Đông Phương">Đông Phương</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dam-my/" title="Truyện Đam Mỹ">Đam
                            Mỹ</a>
                    </div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/bach-hop/"
                            title="Truyện Bách Hợp">Bách
                            Hợp</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/hai-huoc/" title="Truyện Hài Hước">Hài
                            Hước</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dien-van/"
                            title="Truyện Điền Văn">Điền
                            Văn</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/co-dai/" title="Truyện Cổ Đại">Cổ
                            Đại</a>
                    </div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/mat-the/" title="Truyện Mạt Thế">Mạt
                            Thế</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/truyen-teen/"
                            title="Truyện Truyện Teen">Truyện Teen</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/phuong-tay/"
                            title="Truyện Phương Tây">Phương Tây</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nu-phu/" title="Truyện Nữ Phụ">Nữ
                            Phụ</a>
                    </div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/light-novel/"
                            title="Truyện Light Novel">Light Novel</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/viet-nam/"
                            title="Truyện Việt Nam">Việt
                            Nam</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/doan-van/"
                            title="Truyện Đoản Văn">Đoản
                            Văn</a></div>
                    <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/khac/" title="Truyện Khác">Khác</a>
                    </div>
                </div>
            </div>
            <div class="list list-truyen list-side col-xs-12">
                <div class="title-list">
                    <h4>Truyện Kiếm Hiệp Đang Hot</h4>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-1">1</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/de-vuong-sung-ai/"
                                    title="Đế Vương Sủng Ái" itemprop="url">Đế Vương Sủng Ái</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                title="Ngôn Tình">Ngôn Tình</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/co-dai/" title="Cổ Đại">Cổ Đại</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-2">2</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/pham-nhan-tu-tien/"
                                    title="Phàm Nhân Tu Tiên" itemprop="url">Phàm Nhân Tu Tiên</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-3">3</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/mang-hoang-ky/" title="Mãng Hoang Kỷ"
                                    itemprop="url">Mãng Hoang Kỷ</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-4">4</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/kiem-dao-doc-than/"
                                    title="Kiếm Đạo Độc Thần" itemprop="url">Kiếm Đạo Độc Thần</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Huyền Huyễn">Huyền Huyễn</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-5">5</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/ngao-the-cuu-trong-thien/"
                                    title="Ngạo Thế Cửu Trọng Thiên" itemprop="url">Ngạo Thế Cửu Trọng Thiên</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-6">6</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/de-ton/" title="Đế Tôn" itemprop="url">Đế
                                    Tôn</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-7">7</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/kiem-dao-doc-ton/"
                                    title="Kiếm Đạo Độc Tôn" itemprop="url">Kiếm Đạo Độc Tôn</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-8">8</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/di-the-ta-quan/" title="Dị Thế Tà Quân"
                                    itemprop="url">Dị Thế Tà Quân</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/di-gioi/"
                                title="Dị Giới">Dị Giới</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-9">9</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/tien-nghich/" title="Tiên Nghịch"
                                    itemprop="url">Tiên Nghịch</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-10">10</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/kiem-nghich-thuong-khung/"
                                    title="Kiếm Nghịch Thương Khung" itemprop="url">Kiếm Nghịch Thương Khung</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Huyền Huyễn">Huyền Huyễn</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer }}