<div id="wrap">
    {{> header }}
    <div class="container" id="list-page">
        <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
            <div class="text-center"></div>
            <div class="list list-truyen col-xs-12">
                <div class="title-list">
                    <h2 id="t-truyen">Truyện</h2>
                    <div class="filter"><a href="https://truyenfull.vn/the-loai/kiem-hiep/hoan/">Kiếm Hiệp hoàn
                            (full)</a>
                    </div>
                </div>
                 {{#each list}}
                        <div class="row" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-3">
                        <div><img
                                src="{{ this.url_hinh }}"
                                class="cover" alt="{{ this.ten_truyen }}"></div>
                    </div>
                    <div class="col-xs-7">
                        <div><span class="glyphicon glyphicon-book"></span>
                            <h3 class="truyen-title" itemprop="name"><a href="https://truyenfull.vn/that-nguyet/"
                                    title="{{ this.ten_truyen }}" itemprop="url">{{this.ten_truyen}}</a></h3>
                        {{#if this.trang_thai "eq" "Full" }}
                        <span class="label-full"></span>
                        {{/if}}
                        {{#if this.danh_gia "eq" "1" }}
                        <span class="label-hot"></span>
                        {{/if}}
                                <span class="author" itemprop="author">
                                        <span
                                    class="glyphicon glyphicon-pencil"></span>{{this.tac_gia}}</span>
                        </div>
                    </div>
                    <div class="col-xs-2 text-info">
                        <div><a href="{{this.url_truyen}}"
                                title="{{this.so_chuong}}">
                                <span class="chapter-text"><span>Chương </span></span>{{this.so_chuong}}</a></div>
                    </div>
                </div>
                    {{/each}}
            </div>
            <nav aria-label="Page navigation example">
                {{{ navRender }}}
        </nav>
        </div>
        <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
            <div class="panel cat-desc text-left">
                <div class="panel-body">thông tin thể loại</div>
            </div>
            <div class="list list-truyen list-side col-xs-12">
                <div class="title-list">
                    <h4>Truyện Kiếm Hiệp Đang Hot</h4>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-1">1</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/de-vuong-sung-ai/"
                                    title="Đế Vương Sủng Ái" itemprop="url">Đế Vương Sủng Ái</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                title="Ngôn Tình">Ngôn Tình</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/co-dai/" title="Cổ Đại">Cổ Đại</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-2">2</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/pham-nhan-tu-tien/"
                                    title="Phàm Nhân Tu Tiên" itemprop="url">Phàm Nhân Tu Tiên</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-3">3</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/mang-hoang-ky/" title="Mãng Hoang Kỷ"
                                    itemprop="url">Mãng Hoang Kỷ</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-4">4</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/kiem-dao-doc-than/"
                                    title="Kiếm Đạo Độc Thần" itemprop="url">Kiếm Đạo Độc Thần</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Huyền Huyễn">Huyền Huyễn</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-5">5</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/ngao-the-cuu-trong-thien/"
                                    title="Ngạo Thế Cửu Trọng Thiên" itemprop="url">Ngạo Thế Cửu Trọng Thiên</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-6">6</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/de-ton/" title="Đế Tôn" itemprop="url">Đế
                                    Tôn</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-7">7</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/kiem-dao-doc-ton/"
                                    title="Kiếm Đạo Độc Tôn" itemprop="url">Kiếm Đạo Độc Tôn</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-8">8</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/di-the-ta-quan/" title="Dị Thế Tà Quân"
                                    itemprop="url">Dị Thế Tà Quân</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/di-gioi/"
                                title="Dị Giới">Dị Giới</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-9">9</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/tien-nghich/" title="Tiên Nghịch"
                                    itemprop="url">Tiên Nghịch</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Kiếm Hiệp">Kiếm Hiệp</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-10">10</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/kiem-nghich-thuong-khung/"
                                    title="Kiếm Nghịch Thương Khung" itemprop="url">Kiếm Nghịch Thương Khung</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Huyền Huyễn">Huyền Huyễn</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer }}