<div id="wrap">
        {{> header }}
        <div class="container" id="intro-index">
            <div class="title-list">
                      <a href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện hot"><span
                        class="glyphicon glyphicon-fire"></span></a>
                <h2><a href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện hot">Truyện hot</a></h2>
                        <select id="hot-select"
                    class="form-control new-select" aria-label="Chọn thể loại" onchange="layTruyenHotTheoTheLoai();">
                    <option value="all">Tất cả</option>
                    <option value="tien-hiep">Tiên Hiệp</option>
                    <option value="kiem-hiep">Kiếm Hiệp</option>
                    <option value="ngon-tinh">Ngôn Tình</option>
                    <option value="do-thi">Đô Thị</option>
                    <option value="quan-truong">Quan Trường</option>
                    <option value="vong-du">Võng Du</option>
                    <option value="khoa-huyen">Khoa Huyễn</option>
                    <option value="huyen-huyen">Huyền Huyễn</option>
                    <option value="di-gioi">Dị Giới</option>
                    <option value="di-nang">Dị Năng</option>
                    <option value="quan-su">Quân Sự</option>
                    <option value="lich-su">Lịch Sử</option>
                    <option value="xuyen-khong">Xuyên Không</option>
                    <option value="trong-sinh">Trọng Sinh</option>
                    <option value="trinh-tham">Trinh Thám</option>
                    <option value="tham-hiem">Thám Hiểm</option>
                    <option value="linh-di">Linh Dị</option>
                    <option value="sac">Sắc</option>
                    <option value="nguoc">Ngược</option>
                    <option value="sung">Sủng</option>
                    <option value="cung-dau">Cung Đấu</option>
                    <option value="nu-cuong">Nữ Cường</option>
                    <option value="gia-dau">Gia Đấu</option>
                    <option value="dong-phuong">Đông Phương</option>
                    <option value="dam-my">Đam Mỹ</option>
                    <option value="bach-hop">Bách Hợp</option>
                    <option value="hai-huoc">Hài Hước</option>
                    <option value="dien-van">Điền Văn</option>
                    <option value="co-dai">Cổ Đại</option>
                    <option value="mat-the">Mạt Thế</option>
                    <option value="truyen-teen">Truyện Teen</option>
                    <option value="phuong-tay">Phương Tây</option>
                    <option value="nu-phu">Nữ Phụ</option>
                    <option value="light-novel">Light Novel</option>
                    <option value="viet-nam">Việt Nam</option>
                    <option value="doan-van">Đoản Văn</option>
                    <option value="khac">Khác</option>
                </select>
            </div>
            <div class="index-intro" id="i-intro">
                   {{!--  {{#each list}}
                        <div class="item top-{{inc @index}}" ><a
                        href="{{ this.url_truyen }}"
                        itemprop="url">
                        {{#if this.trang_thai "eq" "Full" }}
                        <span class="full-label"></span>
                        {{/if}}
                        <img
                            src="{{ this.url_hinh }}"
                            alt="{{ this.ten_truyen }}" class="img-responsive item-img" itemprop="image">
                        <div class="title">
                            <h3 itemprop="name">{{ this.ten_truyen }}</h3>
                        </div>
                    </a></div>
                    {{/each}} --}}
            </div>
        </div>
        <div class="container" id="list-index">
            <div class="row text-center"></div>
            <div class="hide" id="history-holder"></div>
            <div class="list list-truyen list-new col-xs-12 col-sm-12 col-md-8 col-truyen-main" id="parent-t-list">
                <div class="title-list" id="t-list">
                        <a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới"><span class="glyphicon glyphicon-calendar"></span></a>
                    <h2><a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới">Truyện mới cập nhật</a>
                    </h2><a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới"><span
                            class="glyphicon glyphicon-menu-right"></span></a><select id="new-select"
                        class="form-control new-select" aria-label="Chọn thể loại" onchange="layTruyenMoiCapNhat()">
                      <option value="all">Tất cả</option>
                    <option value="tien-hiep">Tiên Hiệp</option>
                    <option value="kiem-hiep">Kiếm Hiệp</option>
                    <option value="ngon-tinh">Ngôn Tình</option>
                    <option value="do-thi">Đô Thị</option>
                    <option value="quan-truong">Quan Trường</option>
                    <option value="vong-du">Võng Du</option>
                    <option value="khoa-huyen">Khoa Huyễn</option>
                    <option value="huyen-huyen">Huyền Huyễn</option>
                    <option value="di-gioi">Dị Giới</option>
                    <option value="di-nang">Dị Năng</option>
                    <option value="quan-su">Quân Sự</option>
                    <option value="lich-su">Lịch Sử</option>
                    <option value="xuyen-khong">Xuyên Không</option>
                    <option value="trong-sinh">Trọng Sinh</option>
                    <option value="trinh-tham">Trinh Thám</option>
                    <option value="tham-hiem">Thám Hiểm</option>
                    <option value="linh-di">Linh Dị</option>
                    <option value="sac">Sắc</option>
                    <option value="nguoc">Ngược</option>
                    <option value="sung">Sủng</option>
                    <option value="cung-dau">Cung Đấu</option>
                    <option value="nu-cuong">Nữ Cường</option>
                    <option value="gia-dau">Gia Đấu</option>
                    <option value="dong-phuong">Đông Phương</option>
                    <option value="dam-my">Đam Mỹ</option>
                    <option value="bach-hop">Bách Hợp</option>
                    <option value="hai-huoc">Hài Hước</option>
                    <option value="dien-van">Điền Văn</option>
                    <option value="co-dai">Cổ Đại</option>
                    <option value="mat-the">Mạt Thế</option>
                    <option value="truyen-teen">Truyện Teen</option>
                    <option value="phuong-tay">Phương Tây</option>
                    <option value="nu-phu">Nữ Phụ</option>
                    <option value="light-novel">Light Novel</option>
                    <option value="viet-nam">Việt Nam</option>
                    <option value="doan-van">Đoản Văn</option>
                    <option value="khac">Khác</option>
                    </select>
                </div>
            </div>
            <div class="visible-md-block visible-lg-block col-md-4 text-center col-truyen-side">
                <div class="hide" id="history-holder-side"></div>
                <div class="list list-truyen list-cat col-xs-12">
                    <div class="title-list">
                        <h4>Thể loại truyện</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/tien-hiep/"
                                title="Truyện Tiên Hiệp">Tiên Hiệp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Truyện Kiếm Hiệp">Kiếm Hiệp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                title="Truyện Ngôn Tình">Ngôn Tình</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/do-thi/" title="Truyện Đô Thị">Đô
                                Thị</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/quan-truong/"
                                title="Truyện Quan Trường">Quan Trường</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/vong-du/"
                                title="Truyện Võng Du">Võng Du</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/khoa-huyen/"
                                title="Truyện Khoa Huyễn">Khoa Huyễn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Truyện Huyền Huyễn">Huyền Huyễn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/di-gioi/"
                                title="Truyện Dị Giới">Dị Giới</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/di-nang/"
                                title="Truyện Dị Năng">Dị Năng</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/quan-su/"
                                title="Truyện Quân Sự">Quân Sự</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/lich-su/"
                                title="Truyện Lịch Sử">Lịch Sử</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/xuyen-khong/"
                                title="Truyện Xuyên Không">Xuyên Không</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/trong-sinh/"
                                title="Truyện Trọng Sinh">Trọng Sinh</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/trinh-tham/"
                                title="Truyện Trinh Thám">Trinh Thám</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/tham-hiem/"
                                title="Truyện Thám Hiểm">Thám Hiểm</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/linh-di/"
                                title="Truyện Linh Dị">Linh Dị</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/sac/" title="Truyện Sắc">Sắc</a>
                        </div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nguoc/"
                                title="Truyện Ngược">Ngược</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/sung/"
                                title="Truyện Sủng">Sủng</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/cung-dau/"
                                title="Truyện Cung Đấu">Cung Đấu</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nu-cuong/"
                                title="Truyện Nữ Cường">Nữ Cường</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/gia-dau/"
                                title="Truyện Gia Đấu">Gia Đấu</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dong-phuong/"
                                title="Truyện Đông Phương">Đông Phương</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dam-my/" title="Truyện Đam Mỹ">Đam
                                Mỹ</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/bach-hop/"
                                title="Truyện Bách Hợp">Bách Hợp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/hai-huoc/"
                                title="Truyện Hài Hước">Hài Hước</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dien-van/"
                                title="Truyện Điền Văn">Điền Văn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/co-dai/" title="Truyện Cổ Đại">Cổ
                                Đại</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/mat-the/"
                                title="Truyện Mạt Thế">Mạt Thế</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/truyen-teen/"
                                title="Truyện Truyện Teen">Truyện Teen</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/phuong-tay/"
                                title="Truyện Phương Tây">Phương Tây</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nu-phu/" title="Truyện Nữ Phụ">Nữ
                                Phụ</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/light-novel/"
                                title="Truyện Light Novel">Light Novel</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/viet-nam/"
                                title="Truyện Việt Nam">Việt Nam</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/doan-van/"
                                title="Truyện Đoản Văn">Đoản Văn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/khac/"
                                title="Truyện Khác">Khác</a></div>
                    </div>
                
                
                
                
                </div>
            </div>
        </div>
        <div class="container" id="truyen-slide">
            <div class="list list-thumbnail col-xs-12">
                <div class="title-list">
                <a href="https://truyenfull.vn/danh-sach/truyen-full/" title="Truyện đã hoàn thành"><span
                        class="glyphicon glyphicon-book"></span></a>
                    <h2><a href="https://truyenfull.vn/danh-sach/truyen-full/" title="Truyện full">Truyện đã hoàn
                            thành</a></h2><a href="https://truyenfull.vn/danh-sach/truyen-full/"
                        title="Truyện full"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>
                <div class="row" id="f-list">
                </div>
            </div>
        </div>
       {{> footer }}
   

    
