
    <div id="wrap">
        <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
            <div class="container">
                <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse"><span class="sr-only">Hiện menu</span><span
                            class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                    <h1><a class="header-logo" href="https://truyenfull.vn/" title="doc truyen">doc truyen</a></h1>
                </div>
                <div class="navbar-collapse collapse"  itemtype="https://schema.org/WebSite">
                    <meta itemprop="url" content="https://truyenfull.vn">
                    <ul class="control nav navbar-nav ">
                        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Danh sách <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-moi/"
                                        title="Truyện mới cập nhật">Truyện mới cập nhật</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện Hot">Truyện
                                        Hot</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-full/" title="Truyện Full">Truyện
                                        Full</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/tien-hiep-hay/" title="Tiên Hiệp Hay">Tiên
                                        Hiệp Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/kiem-hiep-hay/" title="Kiếm Hiệp Hay">Kiếm
                                        Hiệp Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-teen-hay/"
                                        title="Truyện Teen Hay">Truyện Teen Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-hay/" title="Ngôn Tình Hay">Ngôn
                                        Tình Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-sac/" title="Ngôn Tình Sắc">Ngôn
                                        Tình Sắc</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-nguoc/"
                                        title="Ngôn Tình Ngược">Ngôn Tình Ngược</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-sung/"
                                        title="Ngôn Tình Sủng">Ngôn Tình Sủng</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-hai/" title="Ngôn Tình Hài">Ngôn
                                        Tình Hài</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-hai/" title="Đam Mỹ Hài">Đam Mỹ
                                        Hài</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-hay/" title="Đam Mỹ Hay">Đam Mỹ
                                        Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-h-van/" title="Đam Mỹ H Văn">Đam Mỹ
                                        H Văn</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Thể loại <span
                                    class="caret"></span></a>
                            <div class="dropdown-menu multi-column">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/tien-hiep/"
                                                    title="Truyện Tiên Hiệp">Tiên Hiệp</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                                    title="Truyện Kiếm Hiệp">Kiếm Hiệp</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                                    title="Truyện Ngôn Tình">Ngôn Tình</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/do-thi/"
                                                    title="Truyện Đô Thị">Đô Thị</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/quan-truong/"
                                                    title="Truyện Quan Trường">Quan Trường</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/vong-du/"
                                                    title="Truyện Võng Du">Võng Du</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/khoa-huyen/"
                                                    title="Truyện Khoa Huyễn">Khoa Huyễn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                                    title="Truyện Huyền Huyễn">Huyền Huyễn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/di-gioi/"
                                                    title="Truyện Dị Giới">Dị Giới</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/di-nang/"
                                                    title="Truyện Dị Năng">Dị Năng</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/quan-su/"
                                                    title="Truyện Quân Sự">Quân Sự</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/lich-su/"
                                                    title="Truyện Lịch Sử">Lịch Sử</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/xuyen-khong/"
                                                    title="Truyện Xuyên Không">Xuyên Không</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/trong-sinh/"
                                                    title="Truyện Trọng Sinh">Trọng Sinh</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/trinh-tham/"
                                                    title="Truyện Trinh Thám">Trinh Thám</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/tham-hiem/"
                                                    title="Truyện Thám Hiểm">Thám Hiểm</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/linh-di/"
                                                    title="Truyện Linh Dị">Linh Dị</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/sac/" title="Truyện Sắc">Sắc</a>
                                            </li>
                                            <li><a href="https://truyenfull.vn/the-loai/nguoc/"
                                                    title="Truyện Ngược">Ngược</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/sung/"
                                                    title="Truyện Sủng">Sủng</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/cung-dau/"
                                                    title="Truyện Cung Đấu">Cung Đấu</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/nu-cuong/"
                                                    title="Truyện Nữ Cường">Nữ Cường</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/gia-dau/"
                                                    title="Truyện Gia Đấu">Gia Đấu</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dong-phuong/"
                                                    title="Truyện Đông Phương">Đông Phương</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dam-my/"
                                                    title="Truyện Đam Mỹ">Đam Mỹ</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/bach-hop/"
                                                    title="Truyện Bách Hợp">Bách Hợp</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/hai-huoc/"
                                                    title="Truyện Hài Hước">Hài Hước</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dien-van/"
                                                    title="Truyện Điền Văn">Điền Văn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/co-dai/"
                                                    title="Truyện Cổ Đại">Cổ Đại</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/mat-the/"
                                                    title="Truyện Mạt Thế">Mạt Thế</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/truyen-teen/"
                                                    title="Truyện Truyện Teen">Truyện Teen</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/phuong-tay/"
                                                    title="Truyện Phương Tây">Phương Tây</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/nu-phu/"
                                                    title="Truyện Nữ Phụ">Nữ Phụ</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/light-novel/"
                                                    title="Truyện Light Novel">Light Novel</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/viet-nam/"
                                                    title="Truyện Việt Nam">Việt Nam</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/doan-van/"
                                                    title="Truyện Đoản Văn">Đoản Văn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/khac/"
                                                    title="Truyện Khác">Khác</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" action="https://truyenfull.vn/tim-kiem/" role="search"
                        itemprop="potentialAction"  itemtype="https://schema.org/SearchAction">
                        <div class="input-group search-holder">
                            <meta itemprop="target" content="https://truyenfull.vn/tim-kiem/?tukhoa={tukhoa}"><input
                                aria-label="Từ khóa tìm kiếm" role="search key" class="form-control" id="search-input"
                                type="search" name="tukhoa" placeholder="Tìm kiếm..." value="" itemprop="query-input"
                                required="">
                            <div class="input-group-btn"><button class="btn btn-default" type="submit"
                                    aria-label="Tìm kiếm" role="search"><span
                                        class="glyphicon glyphicon-search"></span></button></div>
                        </div>
                        <div class="list-group list-search-res hide"></div>
                    </form>
                    <div id="login-status" class="hide"></div>
                </div>
            </div>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container"> Đọc truyện online, đọc truyện chữ, truyện full, truyện hay.
                    Tổng hợp đầy đủ và cập nhật liên tục. </div>
            </div>
        </div>
        <div class="container" id="intro-index">
            <div class="title-list">
                <h2><a href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện hot">Truyện hot</a></h2><a
                    href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện hot"><span
                        class="glyphicon glyphicon-fire"></span></a><select id="hot-select"
                    class="form-control new-select" aria-label="Chọn thể loại" onchange="layTruyenHotTheoTheLoai()">
                    <option value="all">Tất cả</option>
                    <option value="tien_hiep">Tiên Hiệp</option>
                    <option value="2">Kiếm Hiệp</option>
                    <option value="3">Ngôn Tình</option>
                    <option value="4">Đô Thị</option>
                    <option value="20">Quan Trường</option>
                    <option value="6">Võng Du</option>
                    <option value="5">Khoa Huyễn</option>
                    <option value="8">Huyền Huyễn</option>
                    <option value="7">Dị Giới</option>
                    <option value="19">Dị Năng</option>
                    <option value="10">Quân Sự</option>
                    <option value="11">Lịch Sử</option>
                    <option value="15">Xuyên Không</option>
                    <option value="17">Trọng Sinh</option>
                    <option value="18">Trinh Thám</option>
                    <option value="16">Thám Hiểm</option>
                    <option value="9">Linh Dị</option>
                    <option value="12">Sắc</option>
                    <option value="30">Ngược</option>
                    <option value="36">Sủng</option>
                    <option value="21">Cung Đấu</option>
                    <option value="22">Nữ Cường</option>
                    <option value="24">Gia Đấu</option>
                    <option value="23">Đông Phương</option>
                    <option value="13">Đam Mỹ</option>
                    <option value="14">Bách Hợp</option>
                    <option value="25">Hài Hước</option>
                    <option value="27">Điền Văn</option>
                    <option value="28">Cổ Đại</option>
                    <option value="29">Mạt Thế</option>
                    <option value="26">Truyện Teen</option>
                    <option value="32">Phương Tây</option>
                    <option value="33">Nữ Phụ</option>
                    <option value="34">Light Novel</option>
                    <option value="35">Việt Nam</option>
                    <option value="37">Đoản Văn</option>
                    <option value="31">Khác</option>
                </select>
            </div>
            <div class="index-intro">
                    {{#each list}}
                        <div class="item top-{{inc @index}}" ><a
                        href="{{ this.url_truyen }}"
                        itemprop="url">
                        {{#if this.trang_thai "eq" "Full" }}
                        <span class="full-label"></span>
                        {{/if}}
                        <img
                            src="{{ this.url_hinh }}"
                            alt="{{ this.ten_truyen }}" class="img-responsive item-img" itemprop="image">
                        <div class="title">
                            <h3 itemprop="name">{{ this.ten_truyen }}</h3>
                        </div>
                    </a></div>
                    {{/each}}
            </div>
        </div>
        <div class="container" id="list-index">
            <div class="row text-center"></div>
            <div class="hide" id="history-holder"></div>
            <div class="list list-truyen list-new col-xs-12 col-sm-12 col-md-8 col-truyen-main">
                <div class="title-list">
                    <h2><a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới">Truyện mới cập nhật</a>
                    </h2><a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới"><span
                            class="glyphicon glyphicon-menu-right"></span></a><select id="new-select"
                        class="form-control new-select" aria-label="Chọn thể loại" >
                        <option value="all">Tất cả</option>
                        <option value="tien_hiep">Tiên Hiệp</option>
                        <option value="2">Kiếm Hiệp</option>
                        <option value="3">Ngôn Tình</option>
                        <option value="4">Đô Thị</option>
                        <option value="20">Quan Trường</option>
                        <option value="6">Võng Du</option>
                        <option value="5">Khoa Huyễn</option>
                        <option value="8">Huyền Huyễn</option>
                        <option value="7">Dị Giới</option>
                        <option value="19">Dị Năng</option>
                        <option value="10">Quân Sự</option>
                        <option value="11">Lịch Sử</option>
                        <option value="15">Xuyên Không</option>
                        <option value="17">Trọng Sinh</option>
                        <option value="18">Trinh Thám</option>
                        <option value="16">Thám Hiểm</option>
                        <option value="9">Linh Dị</option>
                        <option value="12">Sắc</option>
                        <option value="30">Ngược</option>
                        <option value="36">Sủng</option>
                        <option value="21">Cung Đấu</option>
                        <option value="22">Nữ Cường</option>
                        <option value="24">Gia Đấu</option>
                        <option value="23">Đông Phương</option>
                        <option value="13">Đam Mỹ</option>
                        <option value="14">Bách Hợp</option>
                        <option value="25">Hài Hước</option>
                        <option value="27">Điền Văn</option>
                        <option value="28">Cổ Đại</option>
                        <option value="29">Mạt Thế</option>
                        <option value="26">Truyện Teen</option>
                        <option value="32">Phương Tây</option>
                        <option value="33">Nữ Phụ</option>
                        <option value="34">Light Novel</option>
                        <option value="35">Việt Nam</option>
                        <option value="37">Đoản Văn</option>
                        <option value="31">Khác</option>
                    </select>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a
                                href="https://truyenfull.vn/dong-nhan-nu-hoang-ai-cap-ket-cuc-cua-nu-chinh/"
                                title="[Đồng Nhân] Nữ Hoàng Ai Cập - Kết Cục Của Nữ Chính" itemprop="url">[Đồng Nhân] Nữ
                                Hoàng Ai Cập - Kết Cục Của Nữ Chính</a></h3><span class="label-title label-new"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/xuyen-khong/"
                            title="Xuyên Không">Xuyên Không</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/dong-nhan-nu-hoang-ai-cap-ket-cuc-cua-nu-chinh/chuong-19/"
                            title="[Đồng Nhân] Nữ Hoàng Ai Cập - Kết Cục Của Nữ Chính - Chương 19"><span
                                class="chapter-text"><span>Chương </span></span>19</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">19 phút trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/dinh-cap-vo-tinh-he-thong/"
                                title="Đỉnh Cấp Vô Tình Hệ Thống" itemprop="url">Đỉnh Cấp Vô Tình Hệ Thống</a></h3><span
                            class="label-title label-new"></span><span class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/do-thi/" title="Đô Thị">Đô Thị</a>, <a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/dinh-cap-vo-tinh-he-thong/chuong-39/"
                            title="Đỉnh Cấp Vô Tình Hệ Thống - Chương 39"><span class="chapter-text"><span>Chương
                                </span></span>39</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">20 phút trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/vong-du-trong-sinh-tinh-ha/"
                                title="Võng Du Trọng Sinh Tinh Hà" itemprop="url">Võng Du Trọng Sinh Tinh Hà</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên Hiệp</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm
                            Hiệp</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/vong-du-trong-sinh-tinh-ha/chuong-408/"
                            title="Võng Du Trọng Sinh Tinh Hà - Chương 408"><span class="chapter-text"><span>Chương
                                </span></span>408</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">54 phút trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/ac-ma-cung-chieu-vo-yeu/"
                                title="Ác Ma Cưng Chiều Vợ Yêu" itemprop="url">Ác Ma Cưng Chiều Vợ Yêu</a></h3><span
                            class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/sac/" title="Sắc">Sắc</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/ac-ma-cung-chieu-vo-yeu/chuong-72/"
                            title="Ác Ma Cưng Chiều Vợ Yêu - Chương 72"><span class="chapter-text"><span>Chương
                                </span></span>72</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">54 phút trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/ta-phuong-nghich-thien/"
                                title="Tà Phượng Nghịch Thiên" itemprop="url">Tà Phượng Nghịch Thiên</a></h3><span
                            class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/di-gioi/" title="Dị Giới">Dị Giới</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/ta-phuong-nghich-thien/quyen-3-chuong-43/"
                            title="Tà Phượng Nghịch Thiên - Quyển 3 Chương 43"><span class="book-text"><span>Quyển
                                </span></span>3 - <span class="chapter-text"><span>Chương </span></span>43</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">55 phút trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/nu-vuong-mommy-gia-lam/"
                                title="Nữ Vương Mommy Giá Lâm" itemprop="url">Nữ Vương Mommy Giá Lâm</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/do-thi/" title="Đô Thị">Đô Thị</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/nu-vuong-mommy-gia-lam/chuong-302/"
                            title="Nữ Vương Mommy Giá Lâm - Chương 302"><span class="chapter-text"><span>Chương
                                </span></span>302</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">56 phút trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/he-thong-dich-the-nuoc-hoa/"
                                title="Hệ Thống Dịch Thể Nước Hoa" itemprop="url">Hệ Thống Dịch Thể Nước Hoa</a></h3>
                        <span class="label-title label-new"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/xuyen-khong/"
                            title="Xuyên Không">Xuyên Không</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/he-thong-dich-the-nuoc-hoa/chuong-65/"
                            title="Hệ Thống Dịch Thể Nước Hoa - Chương 65"><span class="chapter-text"><span>Chương
                                </span></span>65</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">59 phút trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/he-thong-di-lac-tu-tien-ki/"
                                title="Hệ Thống Đi Lạc Tu Tiên Kí" itemprop="url">Hệ Thống Đi Lạc Tu Tiên Kí</a></h3>
                        <span class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên Hiệp</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                            title="Huyền Huyễn">Huyền Huyễn</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/he-thong-di-lac-tu-tien-ki/chuong-1093/"
                            title="Hệ Thống Đi Lạc Tu Tiên Kí - Chương 1093"><span class="chapter-text"><span>Chương
                                </span></span>1093</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">2 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/mach-thuong-nhan-nhu-ngoc/"
                                title="Mạch Thượng Nhân Như Ngọc" itemprop="url">Mạch Thượng Nhân Như Ngọc</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/do-thi/" title="Đô Thị">Đô Thị</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/mach-thuong-nhan-nhu-ngoc/chuong-11/"
                            title="Mạch Thượng Nhân Như Ngọc - Chương 11"><span class="chapter-text"><span>Chương
                                </span></span>11</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">2 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/chong-yeu-la-quy/" title="Chồng Yêu Là Quỷ"
                                itemprop="url">Chồng Yêu Là Quỷ</a></h3><span class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/linh-di/" title="Linh Dị">Linh Dị</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/chong-yeu-la-quy/chuong-261-3/"
                            title="Chồng Yêu Là Quỷ - Chương 261-3"><span class="chapter-text"><span>Chương
                                </span></span>261-3</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">2 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/ong-xa-la-diem-vuong-dai-nhan/"
                                title="Ông Xã Là Diêm Vương Đại Nhân" itemprop="url">Ông Xã Là Diêm Vương Đại Nhân</a>
                        </h3><span class="label-title label-new"></span><span class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                            title="Huyền Huyễn">Huyền Huyễn</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/ong-xa-la-diem-vuong-dai-nhan/chuong-74/"
                            title="Ông Xã Là Diêm Vương Đại Nhân - Chương 74"><span class="chapter-text"><span>Chương
                                </span></span>74</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">2 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a
                                href="https://truyenfull.vn/vuong-bai-quan-bi-ong-xa-kieu-ngao-sung-co-thoi-han/"
                                title="Vương Bài Quân Bỉ: Ông Xã Kiêu Ngạo Sủng Có Thời Hạn" itemprop="url">Vương Bài
                                Quân Bỉ: Ông Xã Kiêu Ngạo Sủng Có Thời Hạn</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/sung/" title="Sủng">Sủng</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/vuong-bai-quan-bi-ong-xa-kieu-ngao-sung-co-thoi-han/chuong-106/"
                            title="Vương Bài Quân Bỉ: Ông Xã Kiêu Ngạo Sủng Có Thời Hạn - Chương 106"><span
                                class="chapter-text"><span>Chương </span></span>106</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">2 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/tieu-bach-kiem-nhan-gia-tai-di-gioi/"
                                title="Tiểu Bạch Kiểm Nhẫn Giả Tại Dị Giới" itemprop="url">Tiểu Bạch Kiểm Nhẫn Giả Tại
                                Dị Giới</a></h3><span class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/di-gioi/" title="Dị Giới">Dị Giới</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                            title="Huyền Huyễn">Huyền Huyễn</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/tieu-bach-kiem-nhan-gia-tai-di-gioi/chuong-232/"
                            title="Tiểu Bạch Kiểm Nhẫn Giả Tại Dị Giới - Chương 232"><span
                                class="chapter-text"><span>Chương </span></span>232</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">2 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/chien-thuyen/" title="Chiến Thuyền"
                                itemprop="url">Chiến Thuyền</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/hai-huoc/" title="Hài Hước">Hài
                            Hước</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/chien-thuyen/chuong-93/" title="Chiến Thuyền - Chương 93"><span
                                class="chapter-text"><span>Chương </span></span>93</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">4 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/tenseigan-trong-the-gioi-naruto/"
                                title="Tenseigan Trong Thế Giới Naruto" itemprop="url">Tenseigan Trong Thế Giới
                                Naruto</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/xuyen-khong/"
                            title="Xuyên Không">Xuyên Không</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/tenseigan-trong-the-gioi-naruto/chuong-191/"
                            title="Tenseigan Trong Thế Giới Naruto - Chương 191"><span class="chapter-text"><span>Chương
                                </span></span>191</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">4 giờ trước </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/mat-the-tien-hoa/" title="Mạt Thế Tiến Hóa"
                                itemprop="url">Mạt Thế Tiến Hóa</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/tham-hiem/" title="Thám Hiểm">Thám Hiểm</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/di-nang/" title="Dị Năng">Dị Năng</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/mat-the-tien-hoa/chuong-98/"
                            title="Mạt Thế Tiến Hóa - Chương 98"><span class="chapter-text"><span>Chương
                                </span></span>98</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">4 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/ac-linh-quoc-gia/" title="Ác Linh Quốc Gia"
                                itemprop="url">Ác Linh Quốc Gia</a></h3><span class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/do-thi/" title="Đô Thị">Đô Thị</a>, <a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/linh-di/" title="Linh Dị">Linh Dị</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/ac-linh-quoc-gia/quyen-17-chuong-38/"
                            title="Ác Linh Quốc Gia - Quyển 17 Chương 38"><span class="book-text"><span>Quyển
                                </span></span>17 - <span class="chapter-text"><span>Chương </span></span>38</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">4 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/cho-soi-nho-tung-bi-choc-da-song-lai/"
                                title="Chó Sói Nhỏ Từng Bị Chọc Đã Sống Lại" itemprop="url">Chó Sói Nhỏ Từng Bị Chọc Đã
                                Sống Lại</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/trong-sinh/" title="Trọng Sinh">Trọng
                            Sinh</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/cho-soi-nho-tung-bi-choc-da-song-lai/chuong-63/"
                            title="Chó Sói Nhỏ Từng Bị Chọc Đã Sống Lại - Chương 63"><span
                                class="chapter-text"><span>Chương </span></span>63</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">4 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/con-trai-la-nam-phu/"
                                title="Con Trai Là Nam Phụ" itemprop="url">Con Trai Là Nam Phụ</a></h3><span
                            class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/xuyen-khong/"
                            title="Xuyên Không">Xuyên Không</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/con-trai-la-nam-phu/chuong-33-2/"
                            title="Con Trai Là Nam Phụ - Chương 33-2"><span class="chapter-text"><span>Chương
                                </span></span>33-2</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">5 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/the-gioi-den-trang-sac-mau-cua-anh/"
                                title="Thế Giới Đen Trắng, Sắc Màu Của Anh" itemprop="url">Thế Giới Đen Trắng, Sắc Màu
                                Của Anh</a></h3><span class="label-title label-full"></span><span
                            class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/sung/" title="Sủng">Sủng</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/the-gioi-den-trang-sac-mau-cua-anh/chuong-80/"
                            title="Thế Giới Đen Trắng, Sắc Màu Của Anh - Chương 80"><span
                                class="chapter-text"><span>Chương </span></span>80</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">5 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/da-chuc-nang-nhi-thu-nguyen-he-thong/"
                                title="Đa Chức Năng Nhị Thứ Nguyên Hệ Thống" itemprop="url">Đa Chức Năng Nhị Thứ Nguyên
                                Hệ Thống</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/do-thi/" title="Đô Thị">Đô Thị</a>, <a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/xuyen-khong/" title="Xuyên Không">Xuyên Không</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/da-chuc-nang-nhi-thu-nguyen-he-thong/chuong-142/"
                            title="Đa Chức Năng Nhị Thứ Nguyên Hệ Thống - Chương 142"><span
                                class="chapter-text"><span>Chương </span></span>142</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">5 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/ta-co-duoc-a/" title="Ta Có Dược A!"
                                itemprop="url">Ta Có Dược A!</a></h3>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/sac/" title="Sắc">Sắc</a>, <a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/xuyen-khong/" title="Xuyên Không">Xuyên Không</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/ta-co-duoc-a/quyen-3-chuong-118/"
                            title="Ta Có Dược A! - Quyển 3 Chương 118"><span class="book-text"><span>Quyển
                                </span></span>3 - <span class="chapter-text"><span>Chương </span></span>118</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">5 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/nguc-giam-o-soi/" title="Ngục Giam: Ổ Sói"
                                itemprop="url">Ngục Giam: Ổ Sói</a></h3><span class="label-title label-new"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/sac/" title="Sắc">Sắc</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/nguc-giam-o-soi/chuong-3-2/"
                            title="Ngục Giam: Ổ Sói - Chương 3-2"><span class="chapter-text"><span>Chương
                                </span></span>3-2</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">9 giờ trước </div>
                </div>
                <div class="row"  >
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title"><span
                            class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/the-than-canh-nong/"
                                title="Thế Thân Cảnh Nóng" itemprop="url">Thế Thân Cảnh Nóng</a></h3><span
                            class="label-title label-new"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat"><a itemprop="genre"
                            href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a
                            itemprop="genre" href="https://truyenfull.vn/the-loai/sac/" title="Sắc">Sắc</a></div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info"><a
                            href="https://truyenfull.vn/the-than-canh-nong/chuong-2/"
                            title="Thế Thân Cảnh Nóng - Chương 2"><span class="chapter-text"><span>Chương
                                </span></span>2</a></div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time">9 giờ trước </div>
                </div>
            </div>
            <div class="visible-md-block visible-lg-block col-md-4 text-center col-truyen-side">
                <div class="hide" id="history-holder-side"></div>
                <div class="list list-truyen list-cat col-xs-12">
                    <div class="title-list">
                        <h4>Thể loại truyện</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/tien-hiep/"
                                title="Truyện Tiên Hiệp">Tiên Hiệp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Truyện Kiếm Hiệp">Kiếm Hiệp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                title="Truyện Ngôn Tình">Ngôn Tình</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/do-thi/" title="Truyện Đô Thị">Đô
                                Thị</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/quan-truong/"
                                title="Truyện Quan Trường">Quan Trường</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/vong-du/"
                                title="Truyện Võng Du">Võng Du</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/khoa-huyen/"
                                title="Truyện Khoa Huyễn">Khoa Huyễn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Truyện Huyền Huyễn">Huyền Huyễn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/di-gioi/"
                                title="Truyện Dị Giới">Dị Giới</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/di-nang/"
                                title="Truyện Dị Năng">Dị Năng</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/quan-su/"
                                title="Truyện Quân Sự">Quân Sự</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/lich-su/"
                                title="Truyện Lịch Sử">Lịch Sử</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/xuyen-khong/"
                                title="Truyện Xuyên Không">Xuyên Không</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/trong-sinh/"
                                title="Truyện Trọng Sinh">Trọng Sinh</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/trinh-tham/"
                                title="Truyện Trinh Thám">Trinh Thám</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/tham-hiem/"
                                title="Truyện Thám Hiểm">Thám Hiểm</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/linh-di/"
                                title="Truyện Linh Dị">Linh Dị</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/sac/" title="Truyện Sắc">Sắc</a>
                        </div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nguoc/"
                                title="Truyện Ngược">Ngược</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/sung/"
                                title="Truyện Sủng">Sủng</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/cung-dau/"
                                title="Truyện Cung Đấu">Cung Đấu</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nu-cuong/"
                                title="Truyện Nữ Cường">Nữ Cường</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/gia-dau/"
                                title="Truyện Gia Đấu">Gia Đấu</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dong-phuong/"
                                title="Truyện Đông Phương">Đông Phương</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dam-my/" title="Truyện Đam Mỹ">Đam
                                Mỹ</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/bach-hop/"
                                title="Truyện Bách Hợp">Bách Hợp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/hai-huoc/"
                                title="Truyện Hài Hước">Hài Hước</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dien-van/"
                                title="Truyện Điền Văn">Điền Văn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/co-dai/" title="Truyện Cổ Đại">Cổ
                                Đại</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/mat-the/"
                                title="Truyện Mạt Thế">Mạt Thế</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/truyen-teen/"
                                title="Truyện Truyện Teen">Truyện Teen</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/phuong-tay/"
                                title="Truyện Phương Tây">Phương Tây</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nu-phu/" title="Truyện Nữ Phụ">Nữ
                                Phụ</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/light-novel/"
                                title="Truyện Light Novel">Light Novel</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/viet-nam/"
                                title="Truyện Việt Nam">Việt Nam</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/doan-van/"
                                title="Truyện Đoản Văn">Đoản Văn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/khac/"
                                title="Truyện Khác">Khác</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="truyen-slide">
            <div class="list list-thumbnail col-xs-12">
                <div class="title-list">
                    <h2><a href="https://truyenfull.vn/danh-sach/truyen-full/" title="Truyện full">Truyện đã hoàn
                            thành</a></h2><a href="https://truyenfull.vn/danh-sach/truyen-full/"
                        title="Truyện full"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-2"><a
                            href="https://truyenfull.vn/co-the-quay-lai-nhin-em-khong/"
                            title="Có Thể Quay Lại Nhìn Em Không?"><img
                                src="images/co-the-quay-lai-nhin-em-khong.webp"
                                alt="Có Thể Quay Lại Nhìn Em Không?">
                            <div class="caption">
                                <h3>Có Thể Quay Lại Nhìn Em Không?</h3><small class="btn-xs label-primary">Full - 60
                                    chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/lang-tich-huong-do/"
                            title="Lãng Tích Hương Đô"><img src="images/lang-tich-huong-do.webp"
                                alt="Lãng Tích Hương Đô">
                            <div class="caption">
                                <h3>Lãng Tích Hương Đô</h3><small class="btn-xs label-primary">Full - 554 chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/nguoi-ben-goi-xa-la/"
                            title="Người Bên Gối Xa Lạ"><img src="images/nguoi-ben-goi-xa-la.webp"
                                alt="Người Bên Gối Xa Lạ">
                            <div class="caption">
                                <h3>Người Bên Gối Xa Lạ</h3><small class="btn-xs label-primary">Full - 11 chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/khong-the-noi/"
                            title="Không Thể Nói"><img src="images/khong-the-noi.webp" alt="Không Thể Nói">
                            <div class="caption">
                                <h3>Không Thể Nói</h3><small class="btn-xs label-primary">Full - 4 chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/yeu-anh-khong-hoi-han/"
                            title="Yêu Anh Không Hối Hận"><img src="images/yeu-anh-khong-hoi-han.webp"
                                alt="Yêu Anh Không Hối Hận">
                            <div class="caption">
                                <h3>Yêu Anh Không Hối Hận</h3><small class="btn-xs label-primary">Full - 10
                                    chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/lao-cong-thuc-tap/"
                            title="Lão Công Thực Tập"><img src="images/lao-cong-thuc-tap.webp"
                                alt="Lão Công Thực Tập">
                            <div class="caption">
                                <h3>Lão Công Thực Tập</h3><small class="btn-xs label-primary">Full - 68 chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a
                            href="https://truyenfull.vn/vien-thuoc-ma-thuat-cua-tinh-yeu/"
                            title="Viên Thuốc Ma Thuật Của Tình Yêu"><img
                                src="images/vien-thuoc-ma-thuat-cua-tinh-yeu.webp"
                                alt="Viên Thuốc Ma Thuật Của Tình Yêu">
                            <div class="caption">
                                <h3>Viên Thuốc Ma Thuật Của Tình Yêu</h3><small class="btn-xs label-primary">Full - 34
                                    chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/hoan-kiem-ky-tinh-luc/"
                            title="Hoàn Kiếm Kỳ Tình Lục"><img src="images/hoan-kiem-ky-tinh-luc.webp"
                                alt="Hoàn Kiếm Kỳ Tình Lục">
                            <div class="caption">
                                <h3>Hoàn Kiếm Kỳ Tình Lục</h3><small class="btn-xs label-primary">Full - 14
                                    chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/nay-cai-muoi-cua-em/"
                            title="Này, Cái Muôi Của Em"><img src="images/nay-cai-muoi-cua-em.webp"
                                alt="Này, Cái Muôi Của Em">
                            <div class="caption">
                                <h3>Này, Cái Muôi Của Em</h3><small class="btn-xs label-primary">Full - 86
                                    chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/quay-dau-lai-bich-van-tay/"
                            title="Quay Đầu Lại Bích Vân Tây"><img
                                src="images/quay-dau-lai-bich-van-tay.jpg" alt="Quay Đầu Lại Bích Vân Tây">
                            <div class="caption">
                                <h3>Quay Đầu Lại Bích Vân Tây</h3><small class="btn-xs label-primary">Full - 45
                                    chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/pha-quan-tu-pha-suat/"
                            title="Phá Quán Tử Phá Suất"><img src="images/pha-quan-tu-pha-suat.webp"
                                alt="Phá Quán Tử Phá Suất">
                            <div class="caption">
                                <h3>Phá Quán Tử Phá Suất</h3><small class="btn-xs label-primary">Full - 77
                                    chương</small>
                            </div>
                        </a></div>
                    <div class="col-xs-4 col-sm-3 col-md-2"><a href="https://truyenfull.vn/tuu-nuong-tu-manh-me/"
                            title="Tửu Nương Tử Mạnh Mẽ"><img src="images/tuu-nuong-tu-manh-me.webp"
                                alt="Tửu Nương Tử Mạnh Mẽ">
                            <div class="caption">
                                <h3>Tửu Nương Tử Mạnh Mẽ</h3><small class="btn-xs label-primary">Full - 52
                                    chương</small>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="hidden-xs col-sm-5"><strong>Truyện Full</strong> - <a href="https://truyenfull.vn/"
                        title="Đọc truyện online">Đọc truyện</a> online, <a href="https://truyenfull.vn/"
                        title="Đọc truyện chữ">đọc truyện</a> chữ, <a href="https://truyenfull.vn/"
                        title="Truyện hay">truyện hay</a>. Website luôn cập nhật những bộ <a
                        href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới">truyện mới</a> thuộc các
                    thể loại đặc sắc như <a href="https://truyenfull.vn/the-loai/tien-hiep/"
                        title="Truyện tiên hiệp">truyện tiên hiệp</a>, <a
                        href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Truyện kiếm hiệp">truyện kiếm hiệp</a>,
                    hay <a href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Truyện ngôn tình">truyện ngôn
                        tình</a> một cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.</div>
                <ul class="col-xs-12 col-sm-7 list-unstyled">
                    <li class="text-right pull-right"><a href="https://truyenfull.vn/contact/"
                            title="Contact">Contact</a> - <a href="https://truyenfull.vn/tos/"
                            title="Terms of Service">ToS</a><a class="backtop" title="Trở lên đầu trang"
                            href="https://truyenfull.vn/#wrap" rel="nofollow" aria-label="Trở về đầu trang"><span
                                class="glyphicon glyphicon-upload"></span></a> </li>
                    <li class="hidden-xs tag-list"><a href="https://truyenfull.vn/12-nu-than/" title="12 nữ thần">12 nữ
                            thần</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-hai/" title="ngôn tình hài">ngôn
                            tình hài</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sac/"
                            title="ngôn tình sắc">ngôn tình sắc</a> <a
                            href="https://truyenfull.vn/danh-sach/truyen-teen-hay/" title="truyện teen hay">truyện teen
                            hay</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-hay/" title="ngôn tình hay">ngôn
                            tình hay</a> <a href="https://truyenfull.vn/the-loai/dam-my/" title="truyện đam mỹ">truyện
                            đam mỹ</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sex-ngon-tinh-18/"
                            title="ngôn tình sex">ngôn tình sex</a> <a
                            href="https://truyenfull.vn/the-loai/ngon-tinh/hoan/" title="truyện ngôn tình">truyện ngôn
                            tình</a> <a href="https://truyenfull.vn/the-loai/ngon-tinh/hoan/"
                            title="ngôn tình hoàn">ngôn tình hoàn</a> <a
                            href="https://truyenfull.vn/danh-sach/dam-my-h-van/" title="đam mỹ h">đam mỹ h</a> <a
                            href="https://truyenfull.vn/danh-sach/ngon-tinh-nguoc/" title="ngôn tình ngược">ngôn tình
                            ngược</a> <a href="https://truyenfull.vn/danh-sach/kiem-hiep-hay/"
                            title="truyện kiếm hiệp hay">truyện kiếm hiệp hay</a> <a
                            href="https://truyenfull.vn/danh-sach/tien-hiep-hay/" title="truyện tiên hiệp hay">truyện
                            tiên hiệp hay</a> <a href="https://truyenfull.vn/danh-sach/dam-my-hai/"
                            title="đam mỹ hài">đam mỹ hài</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sung/"
                            title="ngôn tình sủng">ngôn tình sủng</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script async="" src="js/analytics.js"></script>
    <script src="js/mainjs-1207-3.js"></script><noscript></noscript>
    <link rel="stylesheet" type="text/css" href="https://cdnaz.truyenfull.vn/min/g/maincss-2806-2.css" /></noscript>
   

    
