
    <div id="wrap">
        <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
            <div class="container">
                <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse"><span class="sr-only">Hiện menu</span><span
                            class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                    <h1><a class="header-logo" href="https://truyenfull.vn/" title="doc truyen">doc truyen</a></h1>
                </div>
                <div class="navbar-collapse collapse"  itemtype="https://schema.org/WebSite">
                    <meta itemprop="url" content="https://truyenfull.vn">
                    <ul class="control nav navbar-nav ">
                        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Danh sách <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-moi/"
                                        title="Truyện mới cập nhật">Truyện mới cập nhật</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện Hot">Truyện
                                        Hot</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-full/" title="Truyện Full">Truyện
                                        Full</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/tien-hiep-hay/" title="Tiên Hiệp Hay">Tiên
                                        Hiệp Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/kiem-hiep-hay/" title="Kiếm Hiệp Hay">Kiếm
                                        Hiệp Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-teen-hay/"
                                        title="Truyện Teen Hay">Truyện Teen Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-hay/" title="Ngôn Tình Hay">Ngôn
                                        Tình Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-sac/" title="Ngôn Tình Sắc">Ngôn
                                        Tình Sắc</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-nguoc/"
                                        title="Ngôn Tình Ngược">Ngôn Tình Ngược</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-sung/"
                                        title="Ngôn Tình Sủng">Ngôn Tình Sủng</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-hai/" title="Ngôn Tình Hài">Ngôn
                                        Tình Hài</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-hai/" title="Đam Mỹ Hài">Đam Mỹ
                                        Hài</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-hay/" title="Đam Mỹ Hay">Đam Mỹ
                                        Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-h-van/" title="Đam Mỹ H Văn">Đam Mỹ
                                        H Văn</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Thể loại <span
                                    class="caret"></span></a>
                            <div class="dropdown-menu multi-column">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/tien-hiep/"
                                                    title="Truyện Tiên Hiệp">Tiên Hiệp</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                                    title="Truyện Kiếm Hiệp">Kiếm Hiệp</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                                    title="Truyện Ngôn Tình">Ngôn Tình</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/do-thi/"
                                                    title="Truyện Đô Thị">Đô Thị</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/quan-truong/"
                                                    title="Truyện Quan Trường">Quan Trường</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/vong-du/"
                                                    title="Truyện Võng Du">Võng Du</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/khoa-huyen/"
                                                    title="Truyện Khoa Huyễn">Khoa Huyễn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                                    title="Truyện Huyền Huyễn">Huyền Huyễn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/di-gioi/"
                                                    title="Truyện Dị Giới">Dị Giới</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/di-nang/"
                                                    title="Truyện Dị Năng">Dị Năng</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/quan-su/"
                                                    title="Truyện Quân Sự">Quân Sự</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/lich-su/"
                                                    title="Truyện Lịch Sử">Lịch Sử</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/xuyen-khong/"
                                                    title="Truyện Xuyên Không">Xuyên Không</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/trong-sinh/"
                                                    title="Truyện Trọng Sinh">Trọng Sinh</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/trinh-tham/"
                                                    title="Truyện Trinh Thám">Trinh Thám</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/tham-hiem/"
                                                    title="Truyện Thám Hiểm">Thám Hiểm</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/linh-di/"
                                                    title="Truyện Linh Dị">Linh Dị</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/sac/" title="Truyện Sắc">Sắc</a>
                                            </li>
                                            <li><a href="https://truyenfull.vn/the-loai/nguoc/"
                                                    title="Truyện Ngược">Ngược</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/sung/"
                                                    title="Truyện Sủng">Sủng</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/cung-dau/"
                                                    title="Truyện Cung Đấu">Cung Đấu</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/nu-cuong/"
                                                    title="Truyện Nữ Cường">Nữ Cường</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/gia-dau/"
                                                    title="Truyện Gia Đấu">Gia Đấu</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dong-phuong/"
                                                    title="Truyện Đông Phương">Đông Phương</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dam-my/"
                                                    title="Truyện Đam Mỹ">Đam Mỹ</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/bach-hop/"
                                                    title="Truyện Bách Hợp">Bách Hợp</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/hai-huoc/"
                                                    title="Truyện Hài Hước">Hài Hước</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dien-van/"
                                                    title="Truyện Điền Văn">Điền Văn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/co-dai/"
                                                    title="Truyện Cổ Đại">Cổ Đại</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/mat-the/"
                                                    title="Truyện Mạt Thế">Mạt Thế</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/truyen-teen/"
                                                    title="Truyện Truyện Teen">Truyện Teen</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/phuong-tay/"
                                                    title="Truyện Phương Tây">Phương Tây</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/nu-phu/"
                                                    title="Truyện Nữ Phụ">Nữ Phụ</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/light-novel/"
                                                    title="Truyện Light Novel">Light Novel</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/viet-nam/"
                                                    title="Truyện Việt Nam">Việt Nam</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/doan-van/"
                                                    title="Truyện Đoản Văn">Đoản Văn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/khac/"
                                                    title="Truyện Khác">Khác</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" action="https://truyenfull.vn/tim-kiem/" role="search"
                        itemprop="potentialAction"  itemtype="https://schema.org/SearchAction">
                        <div class="input-group search-holder">
                            <meta itemprop="target" content="https://truyenfull.vn/tim-kiem/?tukhoa={tukhoa}"><input
                                aria-label="Từ khóa tìm kiếm" role="search key" class="form-control" id="search-input"
                                type="search" name="tukhoa" placeholder="Tìm kiếm..." value="" itemprop="query-input"
                                required="">
                            <div class="input-group-btn"><button class="btn btn-default" type="submit"
                                    aria-label="Tìm kiếm" role="search"><span
                                        class="glyphicon glyphicon-search"></span></button></div>
                        </div>
                        <div class="list-group list-search-res hide"></div>
                    </form>
                    <div id="login-status" class="hide"></div>
                </div>
            </div>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container"> Đọc truyện online, đọc truyện chữ, truyện full, truyện hay.
                    Tổng hợp đầy đủ và cập nhật liên tục. </div>
            </div>
        </div>
        <div class="container" id="intro-index">
            <div class="title-list">
                <h2><a href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện hot">Truyện hot</a></h2><a
                    href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện hot"><span
                        class="glyphicon glyphicon-fire"></span></a><select id="hot-select"
                    class="form-control new-select" aria-label="Chọn thể loại" onchange="layTruyenHotTheoTheLoai();">
                    <option value="all">Tất cả</option>
                    <option value="tien_hiep">Tiên Hiệp</option>
                    <option value="2">Kiếm Hiệp</option>
                    <option value="3">Ngôn Tình</option>
                    <option value="4">Đô Thị</option>
                    <option value="20">Quan Trường</option>
                    <option value="6">Võng Du</option>
                    <option value="5">Khoa Huyễn</option>
                    <option value="8">Huyền Huyễn</option>
                    <option value="7">Dị Giới</option>
                    <option value="19">Dị Năng</option>
                    <option value="10">Quân Sự</option>
                    <option value="11">Lịch Sử</option>
                    <option value="15">Xuyên Không</option>
                    <option value="17">Trọng Sinh</option>
                    <option value="18">Trinh Thám</option>
                    <option value="16">Thám Hiểm</option>
                    <option value="9">Linh Dị</option>
                    <option value="12">Sắc</option>
                    <option value="30">Ngược</option>
                    <option value="36">Sủng</option>
                    <option value="21">Cung Đấu</option>
                    <option value="22">Nữ Cường</option>
                    <option value="24">Gia Đấu</option>
                    <option value="23">Đông Phương</option>
                    <option value="13">Đam Mỹ</option>
                    <option value="14">Bách Hợp</option>
                    <option value="25">Hài Hước</option>
                    <option value="27">Điền Văn</option>
                    <option value="28">Cổ Đại</option>
                    <option value="29">Mạt Thế</option>
                    <option value="26">Truyện Teen</option>
                    <option value="32">Phương Tây</option>
                    <option value="33">Nữ Phụ</option>
                    <option value="34">Light Novel</option>
                    <option value="35">Việt Nam</option>
                    <option value="37">Đoản Văn</option>
                    <option value="31">Khác</option>
                </select>
            </div>
            <div class="index-intro" id="i-intro">
                    {{#each list}}
                        <div class="item top-{{inc @index}}" ><a
                        href="{{ this.url_truyen }}"
                        itemprop="url">
                        {{#if this.trang_thai "eq" "Full" }}
                        <span class="full-label"></span>
                        {{/if}}
                        <img
                            src="{{ this.url_hinh }}"
                            alt="{{ this.ten_truyen }}" class="img-responsive item-img" itemprop="image">
                        <div class="title">
                            <h3 itemprop="name">{{ this.ten_truyen }}</h3>
                        </div>
                    </a></div>
                    {{/each}}
            </div>
        </div>
        <div class="container" id="list-index">
            <div class="row text-center"></div>
            <div class="hide" id="history-holder"></div>
            <div class="list list-truyen list-new col-xs-12 col-sm-12 col-md-8 col-truyen-main">
                <div class="title-list" id="t-list">
                    <h2><a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới">Truyện mới cập nhật</a>
                    </h2><a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới"><span
                            class="glyphicon glyphicon-menu-right"></span></a><select id="new-select"
                        class="form-control new-select" aria-label="Chọn thể loại" onchange="layTruyenMoiCapNhat()">
                        <option value="all">Tất cả</option>
                        <option value="tien_hiep">Tiên Hiệp</option>
                        <option value="2">Kiếm Hiệp</option>
                        <option value="3">Ngôn Tình</option>
                        <option value="4">Đô Thị</option>
                        <option value="20">Quan Trường</option>
                        <option value="6">Võng Du</option>
                        <option value="5">Khoa Huyễn</option>
                        <option value="8">Huyền Huyễn</option>
                        <option value="7">Dị Giới</option>
                        <option value="19">Dị Năng</option>
                        <option value="10">Quân Sự</option>
                        <option value="11">Lịch Sử</option>
                        <option value="15">Xuyên Không</option>
                        <option value="17">Trọng Sinh</option>
                        <option value="18">Trinh Thám</option>
                        <option value="16">Thám Hiểm</option>
                        <option value="9">Linh Dị</option>
                        <option value="12">Sắc</option>
                        <option value="30">Ngược</option>
                        <option value="36">Sủng</option>
                        <option value="21">Cung Đấu</option>
                        <option value="22">Nữ Cường</option>
                        <option value="24">Gia Đấu</option>
                        <option value="23">Đông Phương</option>
                        <option value="13">Đam Mỹ</option>
                        <option value="14">Bách Hợp</option>
                        <option value="25">Hài Hước</option>
                        <option value="27">Điền Văn</option>
                        <option value="28">Cổ Đại</option>
                        <option value="29">Mạt Thế</option>
                        <option value="26">Truyện Teen</option>
                        <option value="32">Phương Tây</option>
                        <option value="33">Nữ Phụ</option>
                        <option value="34">Light Novel</option>
                        <option value="35">Việt Nam</option>
                        <option value="37">Đoản Văn</option>
                        <option value="31">Khác</option>
                    </select>
                </div>
            </div>
            <div class="visible-md-block visible-lg-block col-md-4 text-center col-truyen-side">
                <div class="hide" id="history-holder-side"></div>
                <div class="list list-truyen list-cat col-xs-12">
                    <div class="title-list">
                        <h4>Thể loại truyện</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/tien-hiep/"
                                title="Truyện Tiên Hiệp">Tiên Hiệp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                title="Truyện Kiếm Hiệp">Kiếm Hiệp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                title="Truyện Ngôn Tình">Ngôn Tình</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/do-thi/" title="Truyện Đô Thị">Đô
                                Thị</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/quan-truong/"
                                title="Truyện Quan Trường">Quan Trường</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/vong-du/"
                                title="Truyện Võng Du">Võng Du</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/khoa-huyen/"
                                title="Truyện Khoa Huyễn">Khoa Huyễn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Truyện Huyền Huyễn">Huyền Huyễn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/di-gioi/"
                                title="Truyện Dị Giới">Dị Giới</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/di-nang/"
                                title="Truyện Dị Năng">Dị Năng</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/quan-su/"
                                title="Truyện Quân Sự">Quân Sự</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/lich-su/"
                                title="Truyện Lịch Sử">Lịch Sử</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/xuyen-khong/"
                                title="Truyện Xuyên Không">Xuyên Không</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/trong-sinh/"
                                title="Truyện Trọng Sinh">Trọng Sinh</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/trinh-tham/"
                                title="Truyện Trinh Thám">Trinh Thám</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/tham-hiem/"
                                title="Truyện Thám Hiểm">Thám Hiểm</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/linh-di/"
                                title="Truyện Linh Dị">Linh Dị</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/sac/" title="Truyện Sắc">Sắc</a>
                        </div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nguoc/"
                                title="Truyện Ngược">Ngược</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/sung/"
                                title="Truyện Sủng">Sủng</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/cung-dau/"
                                title="Truyện Cung Đấu">Cung Đấu</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nu-cuong/"
                                title="Truyện Nữ Cường">Nữ Cường</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/gia-dau/"
                                title="Truyện Gia Đấu">Gia Đấu</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dong-phuong/"
                                title="Truyện Đông Phương">Đông Phương</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dam-my/" title="Truyện Đam Mỹ">Đam
                                Mỹ</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/bach-hop/"
                                title="Truyện Bách Hợp">Bách Hợp</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/hai-huoc/"
                                title="Truyện Hài Hước">Hài Hước</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/dien-van/"
                                title="Truyện Điền Văn">Điền Văn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/co-dai/" title="Truyện Cổ Đại">Cổ
                                Đại</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/mat-the/"
                                title="Truyện Mạt Thế">Mạt Thế</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/truyen-teen/"
                                title="Truyện Truyện Teen">Truyện Teen</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/phuong-tay/"
                                title="Truyện Phương Tây">Phương Tây</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/nu-phu/" title="Truyện Nữ Phụ">Nữ
                                Phụ</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/light-novel/"
                                title="Truyện Light Novel">Light Novel</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/viet-nam/"
                                title="Truyện Việt Nam">Việt Nam</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/doan-van/"
                                title="Truyện Đoản Văn">Đoản Văn</a></div>
                        <div class="col-xs-6"><a href="https://truyenfull.vn/the-loai/khac/"
                                title="Truyện Khác">Khác</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="truyen-slide">
            <div class="list list-thumbnail col-xs-12">
                <div class="title-list">
                    <h2><a href="https://truyenfull.vn/danh-sach/truyen-full/" title="Truyện full">Truyện đã hoàn
                            thành</a></h2><a href="https://truyenfull.vn/danh-sach/truyen-full/"
                        title="Truyện full"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>
                <div class="row" id="f-list">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="hidden-xs col-sm-5"><strong>Truyện Full</strong> - <a href="https://truyenfull.vn/"
                        title="Đọc truyện online">Đọc truyện</a> online, <a href="https://truyenfull.vn/"
                        title="Đọc truyện chữ">đọc truyện</a> chữ, <a href="https://truyenfull.vn/"
                        title="Truyện hay">truyện hay</a>. Website luôn cập nhật những bộ <a
                        href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới">truyện mới</a> thuộc các
                    thể loại đặc sắc như <a href="https://truyenfull.vn/the-loai/tien-hiep/"
                        title="Truyện tiên hiệp">truyện tiên hiệp</a>, <a
                        href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Truyện kiếm hiệp">truyện kiếm hiệp</a>,
                    hay <a href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Truyện ngôn tình">truyện ngôn
                        tình</a> một cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.</div>
                <ul class="col-xs-12 col-sm-7 list-unstyled">
                    <li class="text-right pull-right"><a href="https://truyenfull.vn/contact/"
                            title="Contact">Contact</a> - <a href="https://truyenfull.vn/tos/"
                            title="Terms of Service">ToS</a><a class="backtop" title="Trở lên đầu trang"
                            href="https://truyenfull.vn/#wrap" rel="nofollow" aria-label="Trở về đầu trang"><span
                                class="glyphicon glyphicon-upload"></span></a> </li>
                    <li class="hidden-xs tag-list"><a href="https://truyenfull.vn/12-nu-than/" title="12 nữ thần">12 nữ
                            thần</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-hai/" title="ngôn tình hài">ngôn
                            tình hài</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sac/"
                            title="ngôn tình sắc">ngôn tình sắc</a> <a
                            href="https://truyenfull.vn/danh-sach/truyen-teen-hay/" title="truyện teen hay">truyện teen
                            hay</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-hay/" title="ngôn tình hay">ngôn
                            tình hay</a> <a href="https://truyenfull.vn/the-loai/dam-my/" title="truyện đam mỹ">truyện
                            đam mỹ</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sex-ngon-tinh-18/"
                            title="ngôn tình sex">ngôn tình sex</a> <a
                            href="https://truyenfull.vn/the-loai/ngon-tinh/hoan/" title="truyện ngôn tình">truyện ngôn
                            tình</a> <a href="https://truyenfull.vn/the-loai/ngon-tinh/hoan/"
                            title="ngôn tình hoàn">ngôn tình hoàn</a> <a
                            href="https://truyenfull.vn/danh-sach/dam-my-h-van/" title="đam mỹ h">đam mỹ h</a> <a
                            href="https://truyenfull.vn/danh-sach/ngon-tinh-nguoc/" title="ngôn tình ngược">ngôn tình
                            ngược</a> <a href="https://truyenfull.vn/danh-sach/kiem-hiep-hay/"
                            title="truyện kiếm hiệp hay">truyện kiếm hiệp hay</a> <a
                            href="https://truyenfull.vn/danh-sach/tien-hiep-hay/" title="truyện tiên hiệp hay">truyện
                            tiên hiệp hay</a> <a href="https://truyenfull.vn/danh-sach/dam-my-hai/"
                            title="đam mỹ hài">đam mỹ hài</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sung/"
                            title="ngôn tình sủng">ngôn tình sủng</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script async="" src="js/analytics.js"></script>
    <script src="js/mainjs-1207-3.js"></script><noscript></noscript>
  </noscript>
   

    
