<h3>{{viewTitle}}</h3>


<form autocomplete="off" action="/truyen" method="post">
<input type="hidden" name="_id" value="{{truyen._id}}">
	<div class="form-group">
		<label>
			Tên truyện
		</label>
		<input type="text" class="form-control" name="tenTruyen" placeholder="Tên Truyện" value="{{truyen.ten_truyen}}">
		<div class="text-danger">
			{{truyen.tenTruyenError}}
		</div>
	</div>
	<div class="form-group">
		<label>
			Url truyện
		</label>
		<input type="text" class="form-control" name="urlTruyen" placeholder="Url truyện" value="{{truyen.url_truyen}}">
	</div>
	<div class="form-group">
		<label>
		    Số chương
		</label>
		<input type="text" class="form-control" name="soChuong" placeholder="Số Chương" value="{{truyen.so_chuong}}">
	</div>
	<div class="form-group">
		<label>
			Trạng thái
		</label>
		<input type="text" class="form-control" name="trangThai" placeholder="Trạng Thái" value="{{truyen.trang_thai}}">
	</div>
	<div class="form-group">
		<label>
			Url hình
		</label>
		<input type="text" class="form-control" name="urlHinh" placeholder="Url Hình" value="{{truyen.url_hinh}}">
	</div>
	<div class="form-group">
		<label>
			Số views
		</label>
		<input type="text" class="form-control" name="soViews" placeholder="Số Views" value="{{truyen.views}}">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-info"><i class="fa fa-database"></i>submit</button>
        <a href="/truyen/list" class="btn btn-secondary"><i class="fa fa-list-alt"></i>View all</a>
	</div>
</form>