
<h3> <a href="/truyen" class="btn btn-secondary"> <i class="fa fa-plus">Create New</i> </a> TRUYỆN LIST</h3>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>Tên Truyện</th>
            <th>Url Truyện</th>
            <th>Số Chương</th>
            <th>Trạng Thái</th>
            <th>Url Hinh</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.ten_truyen}}</td>
            <td>{{this.url_truyen}}</td>
            <td>{{this.so_chuong}}</td>
            <td>{{this.trang_thai}}</td>
            <td>{{this.url_hinh}}</td>
            <td>
                <a href="/truyen/{{this._id}}"><i class="fa fa-pencil fa-lg" arial-hidden="true"></i></a>
                <a href="/truyen/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"> <i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<nav aria-label="Page navigation example">
{{{ navRender }}}
</nav>
{{!-- {{#if current 'gt' "0" }}
    {{current}}
{{/if}} --}}